.profile-image{
  border-radius: 100%;
  width: 60px;
}
table{
  width: 100%;
  background: #fff;
  margin-top: 50px;
}
.table-bordered th{
  border: none;
}
a{
  cursor: pointer;
}

.card-img-top {
  padding: 10px;
  border-radius: 15px;
}
