<div class="container">
  <div class="card mt-5" >
    <ng-container *ngIf="!fullProfile">
      <app-spinner></app-spinner>
    </ng-container>
    <div class="card-img">
      <img src="{{fullProfile?.picture}}" alt="">
    </div>
    <div class="card-body">
      <h4 class="card-title">{{fullProfile?.title}}.  {{fullProfile?.firstName}} {{fullProfile?.lastName}}</h4>
      <h5 class="">Gender: {{fullProfile?.gender}}</h5>
      <h5 class="">Date of Birth: {{fullProfile?.dateOfBirth}}</h5>
      <h5 class="">Register Date: {{fullProfile?.registerDate}}</h5>
      <h5 class="">Email: {{fullProfile?.email}}</h5>
      <h5 class="">Phone: {{fullProfile?.phone}}</h5>

    </div>
    <div class="card-body">
<!--      <h4 class="">Location</h4>-->
      <h5 class="">City: {{fullProfile?.location?.city}}</h5>
      <h5 class="">Country: {{fullProfile?.location?.country}}</h5>
      <h5 class="">State: {{fullProfile?.location?.state}}</h5>
      <h5 class="">Street: {{fullProfile?.location?.street}}</h5>

    </div>
  </div>
</div>
