<div class="login-form-wrapper align-items-center d-flex flex-row">
  <div class="container">
    <div class="login-container">
      <div class="row justify-content-center">
        <div class="row">
        <div class="col-md-12">
          <div class="card login--card">
            <div class="card-body">
              <div class="logo-name text-center m-3">
                <h3>Login</h3>
              </div>
              <form [formGroup]="loginForm" class="form">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="username">Username</label>
                      <input type="email" class="form-control" formControlName="username" [class.is-invalid] = "f.username.invalid && f.username.touched" >
                      <div *ngIf="(f.username.invalid && f.username.touched) || f.username.dirty">
                        <small *ngIf="f.username.errors?.required" class="text-danger">Username is required</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small *ngIf="f.username.errors?.pattern" class="text-danger">Please provide a valid email address</small>
                      </div>
<!--                      <div class="alert alert-danger"-->
<!--                        *ngIf="loginForm.get('username').invalid && (loginForm.get('username').dirty || loginForm.get('username').touched)">-->
<!--                        <div *ngIf="loginForm.get('username').errors.required">Username is required.</div>-->
<!--                      </div>-->
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" formControlName="password" [class.is-invalid]="f.password.invalid && f.password.touched">
                      <div *ngIf="(f.password.invalid && f.password.touched) || f.password.dirty">
                        <small *ngIf="f.password.errors?.required" class="text-danger">Password is required.</small>
                        <small *ngIf="f.password.errors?.minlength" class="text-danger">Password must be atleast five characters</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <button type="submit" class="btn btn-dark login-btn" [disabled]="!loginForm.valid" (click)="login()">Login</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
