<div class="form-wrapper">
    <div class="container">
        <div class="update-container card">
            <div class="card-body">
                <div class="text">
                    <h3 class="card-title">Update User Info</h3>
                </div>
                <form [formGroup]="updateUserForm">
                    <div class="row">
                        <div class="form-group col">
                            <label for="firstName">Firstname</label>
                            <input type="text" class="form-control" formControlName="firstName">
                        </div>
                        <div class="form-group col">
                            <label for="lastName">Lastname</label>
                            <input type="text" class="form-control" formControlName="lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group col">
                            <label for="title">Title</label>
                            <select class="form-control" id="title-select" formControlName="title">
                                <option>Mr.</option>
                                <option>Mrs.</option>
                                <option>Miss</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col">
                        <label for="country">Country</label>
                        <select class="form-control" id="title-select" formControlName="country">
                          <option>Nepal</option>
                          <option>USA</option>
                          <option>Uk</option>
                          <option>Spain</option>
                          <option>Russia</option>
                          <option>Norway</option>
                        </select>
                      </div>
                        <div class="form-group col">
                            <label for="city">City</label>
                          <select class="form-control" id="title-select" formControlName="city">
                            <option>Kathmandu</option>
                            <option>Texas</option>
                            <option>London</option>
                          </select>
                        </div>

                        <div class="form-group col">
                            <label for="state">State</label>
                            <input type="text" class="form-control" formControlName="state">
                        </div>
                        <div class="form-group col">
                            <label for="street">Street</label>
                            <input type="text" class="form-control" formControlName="street">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!updateUserForm.valid"
                        (click)="updateUser()">update</button>
                </form>
            </div>
        </div>
    </div>
</div>
